#plus-icon{
  color: white;

}
.btn-success{
  background-color: #138D75;
  margin-bottom: 20px;
}
.btn-success:hover {
  background-color: #117A65;
}
.mgb-2{
  margin-bottom: 20px;
}

.right-align {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;
}
.error{
  color: red;
}
.title{
  font-weight: bold;
}
